<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@patient, @visit] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label 'Date of Apointment' %>
        <%= f.date_field :next, class: 'form-control', required: true %>

        <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>