<% provide(:title, 'Appointment') %>
<h1>Appointment of <%= @patient.name %> </h1>

<div class="row">
  <div class="col-sm-9 col-md-offset-3">
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        Date:
      </div>
      <div class="col-xs-4 col-sm-6">
        <%= @visit.next.to_formatted_s(:long) %>
      </div>
    </div>
  </div>
</div>

