<h2>Forgot your password?</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
	  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	    <%= devise_error_messages! %>

	    <div class="field">
	      <%= f.label :email %><br />
	      <%= f.email_field :email, autofocus: true %>
	    </div>

	    <div class="actions">
	      <%= f.submit "Send me reset password instructions", class: "btn btn-large btn-primary"%>
	    </div>
	  <% end %>

	  <%= render "devise/shared/links" %>
	</div>
  </div>
</div>