<div class="center jumbotron">
  <h1>Welcome to the Bilal Hospital</h1>

  <h2>
    Your health is important to us
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<div class='row'>
	<div class='col-md-12'>
		<div class="center">
			<%= image_tag(("care.jpg"), class: 'care_image') %>
		</div>
	</div>
</div>
