<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@patient) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', required: true %>

        <%= f.label :gender %>
        <%= f.select(:gender, options_for_select([['Male','Male'], ['Female','Female']])) %>

        <%= f.label 'Date of birth' %>
        <%= f.date_field :DOB, class: 'form-control', required: true %>

        <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>