<% provide(:title, 'All Patients') %>

<div>
    <p> <%= link_to  new_patient_path, class: "btn btn-success" do  %>
            <i class="glyphicon glyphicon-plus"> Add new patient</i>
        <%end%>
    </p>
</div>

<h1>Patients</h1>

<% if false %>
<%= form_tag patients_path, class: "form-inline", method: :get do %>
  <div class="row">
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "search. . .", id: "patient_search", autocomplete: "off" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </span>
    </div>
  </div>    
  <% if params[:query].present? %>
    <%= link_to "clear", patients_path %>
  <% end %>
<% end %>
<%end%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
    	<div class="col-md-2">
    	  <h2> Name </h2>
    	</div>
    	<div class="col-md-2">
    	  <h2> Gender </h2>
    	</div>
    	<div class="col-md-2">
    	  <h2> Date of Birth </h2>
    	</div>
    	<div class="col-md-2">
    	  <h2> View </h2>
    	</div>
        <div class="col-md-2">
          <h2> Edit </h2>
        </div>
        <div class="col-md-2">
          <h2> Delete </h2>
        </div>
    </div>
    <% @patients.each do |patient| %>
	  <div class="row">
    	<div class="col-md-2">
    	  <p class="text-center"> <%= patient.name %> </p>
    	</div>
    	<div class="col-md-2">
    	  <p class="text-center"> <%= patient.gender %> </p>
    	</div>
    	<div class="col-md-2">
          <%if patient.DOB %>
    	    <p class="text-center"> <%= patient.DOB.to_formatted_s(:rfc822) %> </p>
    	   <% end %>
        </div>
    	<div class="col-md-2">
    	  <p> <%= link_to 'show', patient_path(patient), class: "center-block btn btn-primary" %> </p>
    	</div>
        <div class="col-md-2">
          <p> <%= link_to 'edit', edit_patient_path(patient), class: "center-block btn btn-info" %> </p>
        </div>
        <div class="col-md-2">
          <p> <%= link_to 'delete', patient_path(patient), 
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: "center-block btn btn-danger" %> 
          </p>
        </div>
      </div>
    <% end %>
    <%= will_paginate @patients %>
  </div>
</div>
