<% provide(:title, 'Patient') %>

<h1> <%= @patient.name %> </h1>

<div class="row">
  <div class="col-sm-9 col-md-offset-3">
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        Gender:
      </div>
      <div class="col-xs-4 col-sm-6">
        <%= @patient.gender %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        Date of birth:
      </div>
      <div class="col-xs-4 col-sm-6">
      	<% if @patient.DOB %>
        	<%= @patient.DOB.to_formatted_s(:long)%>
        <% end %>	
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        Age:
      </div>
      <div class="col-xs-4 col-sm-6">
      	<% if @patient.DOB %>
        	<%= @patient.age %> years
        <% end %>	
      </div>
    </div>
  </div>
</div>

<div>
    <p> <%= link_to  new_patient_visit_path(@patient), class: "btn btn-success" do  %>
            <i class="glyphicon glyphicon-plus"> Fix an Appointment</i>
        <%end%>
    </p>
</div>



<h1>Appointments</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-3">
        <h2> Date </h2>
      </div>
      <div class="col-md-3">
        <h2> Prescriptions </h2>
      </div>
        <div class="col-md-3">
          <h2> Change Appointment </h2>
        </div>
        <div class="col-md-3">
          <h2> Delete Appointment </h2>
        </div>
    </div>
    <% @visits.each do |visit| %>
    <div class="row">
      <div class="col-md-3">
        <p class="text-center"> <%= visit.next.to_formatted_s(:long)%> </p>
      </div>
      <div class="col-md-3">
        <p> <%= link_to 'Prescription', patient_visit_path(@patient, visit), class: "center-block btn btn-primary" %> </p>
      </div>
        <div class="col-md-3">
          <p> <%= link_to 'Change Appointment', edit_patient_visit_path(@patient, visit), class: "center-block btn btn-info" %> </p>
        </div>
        <div class="col-md-3">
          <p> <%= link_to 'delete', patient_visit_path(@patient, visit), 
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: "center-block btn btn-danger" %> 
          </p>
        </div>
      </div>
    <% end %>
    <%= will_paginate @visits %>
  </div>
</div>